.left, .middle, .right{
    width: 27%;
    padding: 1rem;
    margin: 2rem;
    float: left;
    background-color: aliceblue;
    border-radius: 20px;
}
@media screen and (max-width: 75%){
    .left, .middle, .right{
        width:100%;
        float:none;
    }
}
